@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.App{
  background: #EEF5FF;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  position: relative;
}
@media (min-width: 768px){
  .App{
    padding-top: 5rem;
  }
}